* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0e6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    justify-content: center;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.screen {
    display: none;
    padding: 1rem;
    text-align: center;
}

.screen.active {
    display: block;
}


/*start screen styles*/
#start-screen h1 {
    color: #dc6f3d;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p {
    margin-bottom: 20px;
}


/*quiz screen styles*/
#quiz-screen h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-header {
    margin-bottom: 10px;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.answer-btn.correct {
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}

.answer-btn.incorrect {
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}

.progress-bar {
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
     height: 100%;
     background-color: #e86a33;
     width: 0%;
     transition: width 0.3s ease;
}


/*result screen styles*/
#result-screen h1 {
    color: #dc6f3d;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#result-screen p {
    margin-bottom: 20px;
}

.result-info {
    background-color: #f7f0e5;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

#result-message {
    color: #dc6f3d;
    font-size: 1.5rem;
}



button {
    padding: 0.7rem;
    border-radius: 10px;
    background-color: #e86b33;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d45b28;
}


/* Responsive styles */
@media (max-width: 500px){
    .screen {
        padding: 1rem;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    #question-text {
        font-size: 1.3rem;
    }

    .answer-btn {
        padding: 12px;
    }
    
    button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}